diffusers==0.31.0
# torch==2.0.0
# torchaudio==2.0.1
# torchvision==0.15.1
tqdm==4.66.4
transformers==4.41.0
xatlas==0.0.9
xformers==0.0.19
datetime
shutilwhich
configargparse
loguru
huggingface_hub<0.26.0
opencv-python
trimesh
scikit-learn
cupy-cuda11x==12.2.0
accelerate